 body, li, ul, p, h1, h2{
     padding: 0;
     margin: 0;
     list-style-type: none;
 }
body{
    background-color: rgb(46, 240, 175);
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    background-color:rgb(46, 240, 175);
    color:white;
    padding: 25px;
    margin: 0 0 auto auto;
    font-size: 30px;
    text-align: center;
    max-width:100%;
}
.container{
    display: inline-block;
    width: 80%;
    text-align: center;
    margin: 0 10%;
}

@media screen and (max-width:620px) {
    .container{
        grid-column: 1 / 4 ;
        text-align: center;
        background-color:white;
        width: 80%;
        margin: 0 10%
    }
    .container div{
        padding: 10px;
        display: inline-block;
        margin-left:auto;
        margin-right: auto;
        width: 90%;
    }
    .container h2{
        font-size: 18px;
        color:darkcyan;
    }
    .container label{
        font-size: 14px;
        color:black;
    }
    .container input{
        background-color:whitesmoke ;
    }
    .textarea{
        width: 80%;
        height: 40px;
    }
    .add_but button{
        color: whitesmoke ;
        font-weight: bold;
        background-color:darkcyan;
        width: 80px;
        height: 25px;
    }

    .list_container{
        grid-column: 1 / 4 ;
        text-align: center;
        display: inline-block;
        width: 90%;
        margin: 20px 5%;
        padding: 0;
    }
    .list_container div{
        padding: 0px 0px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:auto;
        margin-right: auto;
        width: 90%;
        background-color:white;
    }
    .list_container h1{
        font-size: 20px;
        font-weight: bold;
        color:darkcyan;
        padding:10px; 
    }   
  
    .list_container .hide{
        display: none;
    }

    .list_container div .search_ip{
        text-align: center;
        padding: 0;
        margin: 10px auto;
    }
    .list_container div .check{
        display: inline-block;
        text-align: center;
        color:darkslateblue;
        width: 100%;
    }

    .list_container li{
        background-color:lightgray;
        padding: 5px 0;
        margin: 5px 0;
    }

    .list_container .stats{
        width: 70%;
        background-color:darkcyan;
        color: whitesmoke;
    }
    .stats p{
        font-size: 16px;
        padding: 5px;
    }
    .stats p span{
        font-size: 17px;
        font-weight: bold;
    }

    .list_container ul{
        display:inline-block;
        width: 90%;
    }
    .list_container li{
        display: grid;
        width: 100%;
        list-style-type: decimal;
        text-align: left;
        justify-content: center;
        padding: 6px 5px;
        margin: 5px 0;
        color:midnightblue;
        font-size: 16px;
    }

    .list_container p{
        width: 100%;
        grid-column: 1/3;
    }
    .list_container li span{
        color:midnightblue;
        font-size: 15px;
        padding: 0;
        width: 100%;
        grid-column: 3/4;
        margin: auto;
    }
    .list_container li .buttons{
        grid-column: 4/5;
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: inherit;
        align-content: center;
    }
    .list_container li button{
        text-align: center;
        margin: 0 2px;
        background-color:grey;
        color: white;
        padding: 0;
        font-size: 12px;
        width: 30px;
        height: 20px;
    }
    .list_container .high{
        border: 2px solid coral;
    }
    .del_button:hover{
        background-color: indianred;
    }
    .done_button:hover{
        background-color:limegreen;
    }
    .line_through{
        text-decoration:line-through green;
    }
}
